{% extends "DegustationBlogBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <!-- <h2>Liste des articles</h2>
 -->
  <ul style="list-style-type: none">
    {% for article in listArticles %}
      <li class="well">
        {% if article.image is defined %}
          <img src="{{ asset(article.image.webPath) }}" width="150px" />
        {% endif %}
        <a href="{{ path('degustation_blog_view', {'id': article.id}) }}">
          {{ article.title }}
        </a>
        par {{ article.author }}, 
        publié le {{ article.date|date('d/m/Y à H:i') }}
      </li>
    {% else %}
      <li>Pas (encore !) d'articles</li>
    {% endfor %}
  </ul>

{% endblock %}