{% extends "DegustationBlogBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <!-- <h2>Liste des articles</h2>
 -->
  <ul>
    {% for advert in listAdverts %}
      <li class="well">
        {% if advert.pic is defined %}
          <img src="{{ advert.pic }}" />
        {% endif %}
        <a href="{{ path('degustation_blog_view', {'id': advert.id}) }}">
          {{ advert.title }}
        </a>
        par {{ advert.author }},
      </li>
    {% else %}
      <li>Pas (encore !) d'articles</li>
    {% endfor %}
  </ul>

{% endblock %}