{% extends "DegustationBlogBundle::layout.html.twig" %}

{% block title %}
  {{ article.title }} - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h1>{{ article.title }} !</h1>

  <div>
    {# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('info') %}
      <p>Message flash : {{ message }}</p>
    {% endfor %}
  </div>

  <p>
    {% if article.image is defined %}
      <img src="{{ asset(article.image.webPath) }}" alt="{{ article.image.alt }}" /><br />
    {% endif %}
    {{ article.content }}<br />
    Ecrit par {{ article.author }}
  </p>

{% endblock %}